body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.logo h1 {
    font-size: 24px;
    font-weight: 1000;
    color: #F9FAF8;
}

.topContainer {
    background-color: #1F2937;
    padding: 0px 20vw;
}

.heroContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 100px 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    padding-bottom: 0px;

}

.navLinks {
    display: flex;
    list-style: none;
    gap: 16px;
}

.navLinks a,
.hero p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0%;
}

.heroImg {
    width: 50%;
    flex-shrink: 0;
    position: relative;
}

.hero {
    width: 50%;
    flex-shrink: 1;
    margin-right: 40px;
}

.heroImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hero {
    flex-wrap: wrap;

}

.hero h1 {
    font-size: 48px;
    font-family: inherit;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0%;
    margin-bottom: 5px;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 36px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.mainContainer h1 {
    display: block;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin-top: 20px;
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: nowrap;
    margin-bottom: 100px;
}

.info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #3b82f5;
}

.info p {
    text-align: center;
    width: 100%;
    margin: 0%;
    font-size: 18px;
    margin-top: 5px;
}

/* Quote Section */

article {
    background-color: #E5E7EB;
    padding: 100px 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quoteContainer {
    width: 800px;

}

.quoteContainer p {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    margin: 0;
}

.quoteAuthor {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    margin-top: 10px;
}

.quoteAuthor p {
    font-weight: 900;
    font-size: 24px;
    margin: 0;
    color: #1F2937;
    font-family: inherit;
}

/* Call to Action Section */

.cta-container {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 50px 100px;
    margin: 100px 20vw;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}

.cta-text p {
    margin: 5px 0 0 0;
    font-weight: 300;
}

.cta-button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    padding: 8px 30px;
    border-radius: 8px;
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
}

/* Footer Section */

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}